.container {
    width: 75%;
    height: 700px;
    display: flex;
    margin: 70px auto 0px auto;
}

.leftDiv {
    width: 65%;
    overflow-y: scroll;
    padding: 0px 10px 20px 20px;
    margin-right: 10px;
    height: 90%;
    border-radius: 2px;
    flex-shrink: 3;
}

 ::-webkit-scrollbar {
    width: 0 !important
}

.rightDiv {
    /* background: white; */
    width: 35%;
    overflow-y: hidden;
    /* padding: 10px; */
    /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2); */
    /* border-radius: 4px; */
    height: 90%;
}

.fact {
    background: white;
    padding: 20px;
    /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2); */
    border-radius: 4px;
    font-size: 16px;
    color: black;
    border: 1px solid rgb(234, 234, 234);
}

.fact>p {
    margin: 0;
    padding: 0;
}

.defaultCursor {
    cursor: default !important;
}

.highlightDiv {
    background: lightgray;
}