.community_page_container {
    width: 90%;
    margin: 2% auto;
    overflow: hidden;
    column-count: 3;
    column-gap: 0.4em;
    column-fill: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 0.4em;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 0.4em;
    -moz-column-fill: auto;
}