.post_container {
    border-radius: 2px;
    margin-bottom: 20px;
    margin-right: 10px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    width: 230px;
    background: white;
}

.post_container>img {
    width: 100%;
    border-radius: 2px 2px 0px 0px;
}

.post_container>p {
    padding: 10px;
    margin: 0;
    font-size: 12px;
    word-break: break-all;
    text-align: center;
    /* border-bottom: 1px solid lightgray; */
}

.post_container>.pat_treat_boop {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 10px 10px 0px;
    background: rgb(238, 237, 237);
}

.post_container>.pat_treat_boop>div {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px;
}

.post_container>.pat_treat_boop>div>.icon {
    height: 20px;
    width: 20px;
}

.post_container>.pat_treat_boop>div>.text {
    font-size: 15px;
    margin: 0 5px;
}